---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <section class="md:flex md:justify-between">
    <div class="md:w-[50%]">
      <p>Rikuto Nakao</p>
      <h2>中尾陸人</h2>
      <p>
        現在はデジタルハリウッドSTUDIObyLIGにて学習をしながら、フロントエンドエンジニアを目指しています。
      </p>
      <p>
        サッカーで培った「気合い・根性」をベースにロジカルに物事を捉え、判断するようにこころがけています。ユーザー体験の向上を常に意識しており、実装を通してクライアントの問題解決に繋げていきたいと考えております。
      </p>
    </div>
    <div class="size-70 bg-gray-400"></div>
  </section>

  <section class="">
	<h3 class="md:text-[3rem]">STRENGTH</h3>

	<div class="">
    <h4 class="md:text-[2rem]">行動力</h4>
	<div>
    <h5 class="md:text-[1.5rem] ">成長機会を自ら取りに行く行動力</h5>
    <p>
      スクール内でNext.jsを扱える講師が1名しかいなかったため、家から約2時間かけて、ほぼ毎週直接指導を受けに通っていたこともあります。与えられた環境に依存せず、自ら成長機会を取りに行く姿勢を大切にしています。
    </p>
    <h5 class="md:text-[1.25rem]">与えられた範囲に留まらない学習姿勢</h5>
    <p>
      成長に必要だと感じたことには自ら動いて取り組む行動力があります。現在通っているWebスクールでは、HTML
      / CSS /
      簡単なJavaScriptやjQueryが中心ですが、将来的にフロントエンドエンジニアとして価値を出すために将来的に必要になると考え、カリキュラム外でReact、Astro、Tailwind
      CSS、Next.js、TypeScript等の学習を進めてきました。
    </p>
	</div>
	</div>

    <h4>協調性</h4>
    <h5>チームで成果を出す姿勢</h5>
    <p>
      これまで長年サッカーに取り組み、チームスポーツの中で協調性や責任感を培ってきました。キャプテンを務めた経験もあり、チーム全体を見ながら行動することや、周囲を巻き込みながら目標に向かう姿勢を大切にしています。
    </p>
    <h5>チーム制作への取り組み</h5>
    <p>
      クライアントワークではスクールで知り合ったメンバーとチームを組み、ディレクション担当と分業しながら、私はデザインから実装までを担当しました。個人作業だけでなく、チームで価値を出すことにも前向きに取り組めます。
    </p>


	<h4>課題解決力</h4>
	<h5>分析と改善のアクション</h5>
	<p>サッカーの分析官をしていた経験があります。数字上のデータだけでは見えない「なぜ上手くいかないのか」という戦術的な構造を分析し、チームの課題解決に取り組んできました。この「事象の裏にある原因を探り、改善案を出す」という姿勢は、私の根幹にあります。</p>
	<h5>課題に沿った技術提案</h5>
	<p>クライアントの課題に対して、流行や好みではなく目的に沿った技術選定・提案を行います。その提案に責任を持てるよう、必要な技術については継続的に学習しています。</p>
  </section>
</Layout>
