---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <section>
    <p>Rikuto Nakao</p>
    <h2>中尾陸人</h2>
    <p>
      現在はデジタルハリウッドSTUDIObyLIGにて学習をしながら、フロントエンドエンジニアを目指しています。
    </p>
    <p>
      サッカーで培った「気合い・根性」をベースにロジカルに物事を捉え、判断するようにこころがけています。ユーザー体験の向上を常に意識しており、実装を通してクライアントの問題解決に繋げていきたいと考えております。
    </p>
  </section>

  <section>
	<h3>STRENGTH</h3>
	<h4>課題解決力</h4>
	<h5>成長機会を自ら取りに行く行動力</h5>
	<p>スクール内でNext.jsを扱える講師が1名しかいなかったため、家から約2時間かけて、ほぼ毎週直接指導を受けに通っていたこともあります。与えられた環境に依存せず、自ら成長機会を取りに行く姿勢を大切にしています。</p>
  </section>
</Layout>
