---
import { getCollection, render } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, pubDate } = post.data;
const { Content } = await render(post);
---

<Layout
  tabName={`${pubDate.toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' }).replaceAll('/', '-')}.rkt`}
>
  <h1 class="text-[1.5rem] md:text-[2rem]">{title}</h1>
  <time datetime={pubDate.toISOString()}>{pubDate.toLocaleDateString('ja-JP')}</time>
  <div class="blog-content mt-20 md:px-30">
    <Content />
  </div>
</Layout>

<style>
  .blog-content {
    font-size: 1.25rem;
    line-height: 2;
  }
  .blog-content :global(h1) {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .blog-content :global(h2) {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .blog-content :global(h3) {
    font-size: 1.17rem;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .blog-content :global(h4) {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .blog-content :global(p) {
    font-size: 1.25rem;
  }
  .blog-content :global(a) {
    color: #60a5fa;
    text-decoration: underline;
  }
  .blog-content :global(a:hover) {
    color: #93c5fd;
  }
  .blog-content :global(iframe) {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
  }
</style>
