---
import { Image } from 'astro:assets';
import soccerImg from '@/assets/soccer.JPG';
import southernImg from '@/assets/Southern.JPG';
import HairImg from '@/assets/hairmake.png';
import koreaImg from '@/assets/korea.png';

const FAVORITES = [
  {
    image: soccerImg,
    title: 'サッカー',
    description:
      '小学生〜大学生までプレーしました。幼少期から浦和レッズファンで、観戦するのも好きです!',
  },
  {
    image: southernImg,
    title: 'サザンオールスターズ',
    description: '中学生の時からずっとサザンの大ファンです!',
  },
  {
    image: HairImg,
    title: 'ヘアメイク',
    description: 'ヘアセットが得意です! メンズもレディースもセットできます。',
  },
  {
    image: koreaImg,
    title: '韓国',
    description: '韓国に友達がいるため、kpopもドラマも食べ物も髪型も詳しいです!',
  },
];
---

<section class="mt-16 md:mt-32">
  <h3 class="font-ibm text-[2rem] md:text-[3rem]" data-scramble="OFF THE PITCH">OFF THE PITCH</h3>
  <div class="mt-10 md:mt-20 md:ml-80 md:grid md:grid-cols-2 md:gap-0 md:gap-y-6">
    {
      FAVORITES.map((favorite, i) => (
        <div
          class:list={[
            'group relative aspect-square w-full cursor-pointer overflow-hidden md:size-60',
            i > 0 && 'mt-8 md:mt-0',
          ]}
          tabindex="0"
        >
          <Image src={favorite.image} alt="" class="h-full w-full object-cover" />
          <div class="absolute inset-0 flex flex-col items-center justify-center bg-gray-800/60 px-3 opacity-0 transition-opacity duration-300 group-hover:opacity-100 group-focus:opacity-100">
            <div class="text-xl font-bold text-white">{favorite.title}</div>
            <p class="mt-1.5 text-sm text-white md:text-base">{favorite.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
