---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <p class="font-antonio text-[2.5rem] md:text-[4.5rem]">.rkt</p>
  <p class="mt-6 leading-[200%] md:mt-8.5">
    初めまして。中尾陸人と申します。現在はデジタルハリウッド STUDIO by
    LIGにて学習をしながら、フロントエンドエンジニアを目指しています。
  </p>
  <p class="mt-5 leading-[200%] md:mt-7.5">
    サッカーを通して培った粘り強さをベースに、感情だけでなくロジカルに物事を捉え、判断することを意識しています。ユーザー体験の向上を常に意識しており、実装を通してクライアントの問題解決に繋げていきたいと考えております。
  </p>
</Layout>
