---

---

<footer class="h-50 w-full border-amber-50 md:pr-[11%] md:pl-[8.82%]">
  <div class="flex justify-between md:mt-[2.125rem]">
    <p>dev</p><p>and</p><p>design</p>
  </div>
  <div class="md:mt-[3.75rem]">
  <small>&copy;2026 RIKUTO NAKAO</small>
  <dl>
    <dt>GitHub</dt>
    <dd><a href="https://github.com/rikuto06" target="_blank">https://github.com/rikuto06</a></dd>
  </dl>
  <!-- ここに作成 -->
  </div>
</footer>
