---

---

<footer class="h-auto w-full border-amber-50 px-4 py-8 md:h-50 md:px-0 md:py-0 md:pr-[11%] md:pl-[8.82%]">
  <div class="flex justify-between mt-4 md:mt-[2.125rem]">
    <p>dev</p><p>and</p><p>design</p>
  </div>
  <div class="mt-6 md:mt-[3.75rem]">
  <small>&copy;2026 RIKUTO NAKAO</small>
  <dl class="mt-2">
    <dt>GitHub</dt>
    <dd class="break-all"><a href="https://github.com/rikuto06" target="_blank">https://github.com/rikuto06</a></dd>
  </dl>
  <!-- ここに作成 -->
  </div>
</footer>
