---


---

<header class="font-ibm h-100 w-[30%] bg-gray-500">
    <a href="#">RIKUTO NAKAO</a>
    <details class="">
        <summary>my-portfolio</summary>
        <a class="flex gap-" href=""><img src="/file.svg" alt="">Home.rkt</a>
        <a class="" href="">about.rkt</a>
        <details>
            <summary>WORKS</summary>
            <a class="" href="">KyosukeSato.rkt</a>
            <a class="" href="">Portfolio.rkt</a>
            <a class="" href="">Sugutabe.rkt</a>
            <a class="" href="">DesignSchoolLp.rkt</a>
        </details>
        <details>
            <summary>Blogs</summary>
            <a class="" href="">daydayday</a>
            <a class="" href="">daydayday</a>
            <a class="" href="">daydayday</a>
        </details>

    </details>
    

</header>